Thumbs.db
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj
bin
_ReSharper*/
[Tt]est[Rr]esult*
SerializerTest*/
*.csproj.user
*.resharper*
deploy/*
*.nupkg
Gemfile.lock
tmp/
.DS_Store
*.userprefs
