<!DOCTYPE html> 
<html> 
<head>
    <title>Simpler MVC Example</title>
</head>
<body>
    <h1>Simpler MVC Example</h1>
    <p>
    This is an example of a server-side built with ASP.NET MVC 3 and Simpler.
    </p>
</body>
</html>
