<!DOCTYPE html> 
<html> 
<head>
    <title>MVC Example</title>
</head>
<body>
    <h1>MVC Example</h1>
    <p>This example intends to showcase the server-side built with ASP.NET MVC 3 and Simpler.</p>
    <p><a href="/players">Players</a></p>
</body>
</html>
