@model MvcExample.Models.Players.PlayerIndex
<!DOCTYPE html>
<html>
<head>
    <title>Players</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Player Name</th>
                <th>Team Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in Model.PlayerBasicses)
            {
                <tr>
                    <td><a href="/Players/Show/@player.PlayerId">@player.Name</a></td>
                    <td>@player.Team</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
