<!DOCTYPE html>
<html>
<head>
    <title>Players</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Player Name</th>
                <th>Team Name</th>
            </tr>
        </thead>
        <tbody>
            @Each.Players;
                <tr>
                    <td><a href="/players/@Current.PlayerId;">@Current.FullName;</a></td>
                    <td>@Current.Team;</td>
                </tr>
            @EndEach;
        </tbody>
    </table>
</body>
</html>
