<!DOCTYPE html>
<html>
<head>
    <title>Player</title>
</head>
<body>
    <fieldset>
        <legend>Player</legend>
    
        <div class="display-label">First Name</div>
        <div class="display-field">@Model.Player.FirstName</div>
    
        <div class="display-label">Last Name</div>
        <div class="display-field">@Model.Player.LastName</div>
    
        <div class="display-label">Full Name</div>
        <div class="display-field">@Model.Player.FullName</div>
    
        <div class="display-label">Team</div>
        <div class="display-field">@Model.Player.Team</div>
    </fieldset>
    <p>
        <a href="/players/@Model.Player.PlayerId;/edit">Edit</a>
        <a href="/players">Back to Lis</a>
    </p>
</body>
</html>
